@font-face {
  font-family: 'AvenirNext';
  src: local('☺'),
      //  url('./fonts/AvenirNext-UltraLight.woff2') format('woff2'),
       url('./fonts/AvenirNext-UltraLight.woff') format('woff'),
       url('./fonts/AvenirNext-UltraLight.ttf') format('ttf');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNext';
  src: local('☺'),
      // //  url('./fonts/AvenirNext-UltraLightItalic.woff2') format('woff2'),
       url('./fonts/AvenirNext-UltraLightItalic.woff') format('woff'),
       url('./fonts/AvenirNext-UltraLightItalic.ttf') format('ttf');
  font-weight: 100;
  font-style: italic;
}
// @font-face {
//   font-family: 'AvenirNext';
//   src: local('☺'),
//       // //  url('./fonts/AvenirNext-Light.woff2') format('woff2'),
//        url('./fonts/AvenirNext-Light.woff') format('woff'),
//        url('./fonts/AvenirNext-Light.ttf') format('ttf');
//   font-weight: 300;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'AvenirNext';
//   src: local('☺'),
//       // //  url('./fonts/AvenirNext-LightItalic.woff2') format('woff2'),
//        url('./fonts/AvenirNext-LightItalic.woff') format('woff'),
//        url('./fonts/AvenirNext-LightItalic.ttf') format('ttf');
//   font-weight: 300;
//   font-style: italic;
// }
@font-face {
  font-family: 'AvenirNext';
  src: local('☺'),
      // //  url('./fonts/AvenirNext-Regular.woff2') format('woff2'),
       url('./fonts/AvenirNext-Regular.woff') format('woff'),
       url('./fonts/AvenirNext-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNext';
  src: local('☺'),
      // //  url('./fonts/AvenirNext-Italic.woff2') format('woff2'),
       url('./fonts/AvenirNext-Italic.woff') format('woff'),
       url('./fonts/AvenirNext-Italic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'AvenirNext';
  src: local('☺'),
      // //  url('./fonts/AvenirNext-Medium.woff2') format('woff2'),
       url('./fonts/AvenirNext-Medium.woff') format('woff'),
       url('./fonts/AvenirNext-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNext';
  src: local('☺'),
      // //  url('./fonts/AvenirNext-MediumItalic.woff2') format('woff2'),
       url('./fonts/AvenirNext-MediumItalic.woff') format('woff'),
       url('./fonts/AvenirNext-MediumItalic.ttf') format('ttf');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'AvenirNext';
  src: local('☺'),
      // //  url('./fonts/AvenirNext-DemiBoldItalic.woff2') format('woff2'),
       url('./fonts/AvenirNext-DemiBoldItalic.woff') format('woff'),
       url('./fonts/AvenirNext-DemiBoldItalic.ttf') format('ttf');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'AvenirNext';
  src: local('☺'),
      // //  url('./fonts/AvenirNext-DemiBold.woff2') format('woff2'),
       url('./fonts/AvenirNext-DemiBold.woff') format('woff'),
       url('./fonts/AvenirNext-DemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNext';
  src: local('☺'),
      // //  url('./fonts/AvenirNext-Bold.woff2') format('woff2'),
       url('./fonts/AvenirNext-Bold.woff') format('woff'),
       url('./fonts/AvenirNext-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNext';
  src: local('☺'),
      // //  url('./fonts/AvenirNext-BoldItalic.woff2') format('woff2'),
       url('./fonts/AvenirNext-BoldItalic.woff') format('woff'),
       url('./fonts/AvenirNext-BoldItalic.ttf') format('ttf');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'AvenirNext';
  src: local('☺'),
      // //  url('./fonts/AvenirNext-Heavy.woff2') format('woff2'),
       url('./fonts/AvenirNext-Heavy.woff') format('woff'),
       url('./fonts/AvenirNext-Heavy.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNext';
  src: local('☺'),
      // //  url('./fonts/AvenirNext-HeavyItalic.woff2') format('woff2'),
       url('./fonts/AvenirNext-HeavyItalic.woff') format('woff'),
       url('./fonts/AvenirNext-HeavyItalic.ttf') format('ttf');
  font-weight: 900;
  font-style: italic;
}

